*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size is 10px */
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*****************************************/
/* GENERAL COMPONENTS */
/*****************************************/

.heading-primary  {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn--full:link, .btn--full:visited {
  background-color:#e67e22;
  color: #fff;
  
}

.btn--full:hover, .btn--full:active {
  background-color: #cf711f;
  color: #fff;
  
}

.btn--outline:link, .btn--outline:visited {
  background-color:#fff;
  color: #555;
  
}

.btn--outline:hover, .btn--outline:active {
  background-color:#fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 .3rem #fff;
  
}

.btn:link, b.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: .9rem;
  font-weight: 600;
  transition: all .3s;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/*****************************************/
/* HEADER SECTION */
/*****************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/*****************************************/
/* NAVAGATION SECTION */
/*****************************************/


.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f;
  text-decoration: underline;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  background-color: #cf711f;

}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
  background-color: #e67e22;
}

/*****************************************/
/* HERO SECTION */
/*****************************************/


.section-hero {
  background-color: #fdf2e9;
  padding: 4.9rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delievered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delievered-imgs {
  display: flex;
}

.delievered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: .3rem solid #fdf2e9;
}

.delievered-imgs img:last-child {
  margin: 0;
}

.delievered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delievered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*****************************************/
/* FEATURED IN SECTION */
/*****************************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color:#888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*****************************************/
/* HOW IT WORKS SECTION */
/*****************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before, .step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.step-img-box::before {
  
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  
}

.step-img-box::after {
 width: 50%;
 padding-bottom: 50%;
 background-color: #fae5d3;
  
  
}
.step-img {
  width: 35%;
  z-index: 10;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;

}

/*****************************************/
/* MEALS SECTION */
/*****************************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100rem;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #d0bfff;

}

.tag--paleo {
  background-color: #ffec99;

}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*****************************************/
/* TESTIMONIALS SECTION */
/*****************************************/

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: #fae5d3;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.sub-testimonials {
  padding-top: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
font-size: 1.6rem;
color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem; 
  margin-top: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*****************************************/
/* PRICING SECTION */
/*****************************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name{
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
   
}

.plan-price{
 font-size: 6.2rem;
 font-weight: 600;
 color: #333;
 margin-bottom: 1.6rem;

}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: .8rem;
}

.plan-text{
  font-size: 1.6rem;
  line-height: 1.8;
  color: #6f6f6f;
}

.plan-sigh-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 1px dotted #e67d2272;
  padding: 4.6rem;

}

.pricing-plan--complete {
  padding: 4.8rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 10%;
  right: -11%;
  background-color: #ffd43b;
  padding: 0.8rem 7.2rem;
  color: #333;
  transform: rotate(45deg);
}
.feature-icon {
color: #e67e22;
height: 3.2rem;
width: 3.2rem;
margin-bottom: 3.2rem;
background-color: #fdf2e9;
padding: 1.6rem;
border-radius: 50%;
}

.feature-title {
font-size: 2.4rem;
color: #333;
font-weight: 700;
margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
  
}

/*****************************************/
/* CTA SECTION */
/*****************************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.462);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;

  background-image: linear-gradient(to right bottom, #eb984e,#e67e22);

}

.cta-text-box{
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
  
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-img-box{
  background-image:linear-gradient(to right bottom, rgba(235, 151, 78, 0.342),rgba(230, 125, 34, 0.35)), url(/img/eating.jpg);
  background-size: cover;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input, .cta-form select{
width: 100%;
padding: 1.2rem;
font-size: 1.8rem;
font-family: inherit;
border: none;
background-color: #fdf2e9;
border-radius: 9px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
color: inherit;
}

.cta-form input::placeholder {
color: #aaa;
}

.cta-form select {

}

.cta-form button {

}