/* 
--- 01 TYPOGRAPHY SYSTEM

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Paragraph default: 1.6


---- 02 COLORS

Primary: #e67e22

lighter versions mixed with white
- Tints: #fdf2e9

darker versions mixed with black
- Shades:

- Accents:

- Greys: #555 #333

---- 03 IMAGES

---- 04 ICONS

---- 05 SHADOWS

---- 06 BORDER-RADIUS
Default 9px

---- 07 WHITE SPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size is 10px */
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*****************************************/
/* GENERAL REUSABLE COMPONENTS */
/*****************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3,1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4,1fr);
}

.heading-primary  {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn--full:link, .btn--full:visited {
  background-color:#e67e22;
  color: #fff;
  
}

.btn--full:hover, .btn--full:active {
  background-color: #cf711f;
  color: #fff;
  
}

.btn--outline:link, .btn--outline:visited {
  background-color:#fff;
  color: #555;
  
}

.btn--outline:hover, .btn--outline:active {
  background-color:#fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 .3rem #fff;
  
}

.btn:link, b.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: .9rem;
  font-weight: 600;
  transition: all .3s;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.section-how {

}

/*****************************************/
/* HEADER SECTION */
/*****************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/*****************************************/
/* NAVAGATION SECTION */
/*****************************************/


.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f;
  text-decoration: underline;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  display: inline-block;
  background-color: #cf711f;

}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
  background-color: #e67e22;
}

/*****************************************/
/* HERO SECTION */
/*****************************************/


.section-hero {
  background-color: #fdf2e9;
  padding: 4.9rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delievered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delievered-imgs {
  display: flex;
}

.delievered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: .3rem solid #fdf2e9;
}

.delievered-imgs img:last-child {
  margin: 0;
}

.delievered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delievered-text span {
  color: #cf711f;
  font-weight: 700;
}



/*****************************************/
/* HOW IT WORKS SECTION */
/*****************************************/

.section-how {
  padding: 9.6rem 0;
  background-color: orangered; 
}




